[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
cx-oracle = "*"

[requires]
python_version = "3.6"

[scripts]
start = "python main.py"
